html,
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
}

body {
	font-family:"PT Sans Narrow", "Arial", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color:#ffffff;
  background: #000000 url("../img/background.jpg") no-repeat center top;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;

}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  padding: 25px 20px;
  padding-left: 50px;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background:transparent url("../img/icon-login.png") no-repeat;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  height: 204px;
  width: 368px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-name {
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
  position: relative;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-item:last-child {
  margin-right: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: url("../img/index-content-shadow.png") no-repeat center, 
  #f8f5f2 url("../img/pattern-white.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("img/pattern-black.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000;
    transition: 
    background-position 0.5s,
    background-color 0.5s;

}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background: #000000 url("../img/logo-vk.png") center no-repeat;
}

.social-btn-fb {
  background: #000000 url("../img/logo-fb.png") center no-repeat;
}

.social-btn-inst {
  background: #000000 url("../img/logo-insta.png") center no-repeat;
}

.social-btn-vk:hover {
  background: #ffffff url("../img/logo-vk-hover.png") center no-repeat;
}

.social-btn-fb:hover {
  background: #ffffff url("../img/logo-fb-hover.png") center no-repeat;
}

.social-btn-inst:hover {
  background: #ffffff url("../img/logo-insta-hover.png") center no-repeat;
}


.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;

  background-color: #ffffff;
}






                /*КАТАЛОГ*/ 


.catalog-page {
  color: #000000;

  background: #f8f3f0 url("img/pattern-white.jpg") repeat;
}

.catalog-page .main-header {
  margin-bottom: 49px;
}

.main-navigation .logo-inner {
  float: left;
  width: 111px;
  height: 20px;
  padding-top: 22px;
}

.main-navigation .logo-inner img{
  width: 111px;
  height: 24px;
}

.main-navigation .logo-inner:hover {
  background: none;
}

.main-navigation .active {
  position: relative;
  background-color: none;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;

  background-color: #ffffff;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.main-navigation .active a:hover {
  background: none;
}

.catalog-page-title {
  margin-bottom: 27px;
}

.catalog-page-title h1 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

.catalog-page .breadcrumbs ul {
  margin:0;
  padding:0;
}
.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  display: inline;
  padding-right: 40px;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.breadcrumbs .current::after {
  display: none;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 18px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: #000000;
}

.left-menu {
  float:left;
  width:185px;
  margin-right: 20px;
  margin-left: 0px;
}

/*Фильтры по производителю*/

.brands h2 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 27px;
}


.brands input[type=checkbox] + label {
  display: block;
  padding-bottom: 13px;
} 

.brands input[type=checkbox] {
  display: none;
}

.brands label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  padding-left: 44px;
}

.brands label::before {
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  top:3px;
  left: 0px;
  background-image: url("../img/checkbox.png");
  background-repeat: no-repeat;
}

.brands input[type=checkbox]:checked + label:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top:3px;
    left: 0px;
    background: url("../img/checkbox-checked.png") no-repeat, url("../img/checkbox.png") no-repeat;

}

.brands label:hover {
  color:#704924;
}

.brands label:disabled {
  opacity: 0.5
}



/*Фильтры по группе товаров*/

.goods-groups input[type=radio] + label {
  display: block;
  padding-bottom: 10px;
} 

.goods-groups input[type=radio] {
  display: none;
}

.goods-groups h2 {
  margin-top: 33px;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 28px;
}

.goods-groups label {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  padding-left: 44px;
}

.goods-groups label::before {
  content:"";
  position: absolute;
  width: 20px;
  height: 20px;
  top:3px;
  left: 0px;
  background-image: url("../img/radio.png");
  background-repeat: no-repeat;
}

.goods-groups input[type=radio]:checked + label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top:3px;
  left: 0px;
  background: url("../img/radio-checked.png") center no-repeat, url("../img/radio.png") no-repeat;
}

.goods-groups label:hover {
  color:#704924;
}

.goods-groups label:disabled {
  opacity: 0.5
}

.show-all {
  margin-top: 40px;
}

.show-all .btn {
  padding:10px 30px;
}

        /*КАТАЛОГ*/ 


.catalog-items {
  float: right;
  width:720px;
  margin-top: 25px;
}

.catalog-item {
  display: inline-block;
  width:220px;
  height:285px;
  vertical-align: top;
  margin-left:18px;
  margin-bottom:20px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.catalog-item:nth-child(3n) {
  margin-right: 0px;
}

.catalog-item:nth-last-child(-n+3) {
  margin-bottom:0px;
}

.catalog-item-title {
  text-decoration: none;
  color:#000000;
  font-size: 14px;
  line-height: 18px;
  text-transform:none;
  display: block;
  margin-left: 19px;
  margin-top: 5px;
}

.catalog-page .price-block p {
  display: inline-block;
  vertical-align: middle;
  color:#000000;
  font-size: 14px;
  line-height: 24px;
  background-color: #e5e5e5;
  padding: 10px 28px;
  float: left;
  margin-left: 15px;
}

.catalog-page .price-btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 18px;
  margin-left: 0;
  margin-top: 14px;
}

.paginator {
  margin-left: 19px;
}

.paginator a {
  display: inline-block;
  vertical-align: middle;
  margin-top: 28px;
  background-color: #000000;
  text-decoration: none;
  color:#ffffff;
  font-size: 14px;
  line-height: 24px;
  padding:10px 20px;
  margin-right: 0px;
}

.paginator .active {
  color:#000000;
  background-color: #ffffff;
}

.catalog-page .main-footer {
  margin-top: 48px;
}

.paginator a:hover {
  background-color: #663d15;
  color:#ffffff;
}





                      /*СТРАНИЦА ТОВАРА*/


.item-page {
  color: #000000;
  background: #f8f3f0 url("img/pattern-white.jpg") repeat;
}

.item-page .main-header {
  margin-bottom: 51px;
}

.item-page-title {
  margin-bottom: 54px;
}

.item-page-title h1 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 30px;
  line-height: 42px;
}

/*изображения товара*/

.images {
  float: left;
  width:460px;
  margin-left: 0;
}

.images-small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.image-big {
  width: 460px;
  height: 500px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2)
}

.images-small a {
  width: 140px;
  height: 150px;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

/*Описание товара */
.item-description {
  float: right;
  width:400px;
  margin-right: -10px;
  margin-top: 20px;
}

.item-description span.
.item-description p {
  display: inline-block;
  margin-left: 10px;
}

.heading {
  display: block;
  margin-bottom: 28px;
}

.heading-title {
  float: left;
}

.article {
  color:#aeaeae;
  float: right;
  margin-right: 24px;
}

.item-page .price-block {
  width: 205px;
  height: 45px;
  margin-top: 35px;
  margin-bottom: 60px;
}

.item-page .price-block span {
  display: block;
  vertical-align: middle;
  color:#000000;
  font-size: 14px;
  line-height: 24px;
  background-color: #e5e5e5;
  padding: 10px 28px;
  float: left;
}

.item-page .buy-btn {
  float: right; 
  display: block;
  padding: 10px 18px;
}

.complectation {
  font-size: 24px;
  line-height: 29px;
}

.complectation-items {
  list-style: none;
  padding-left: 20px;
}

.complectation-items li {
  position: relative;
  font-size: 14px;
  line-height: 24px;
}

.complectation-items li::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 389px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: #000000;
}

.item-page .main-footer {
    margin-top: 46px;
    padding-top: 54px;
  }



               



/*======================================
 Системное оформление - не изменять
=======================================*/

/*body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}

.main-header{
   box-shadow: none;
}

.main-header .container,
.main-navigation,
.user-block,
.index-logo,
.index-logo img,
main.container, 
.features,
.features-item,
.index-content-left,
.index-content-right,
.main-footer .container {
  box-shadow: none;
  background: none;
}*/