body {
	font-family:"PT Sans Narrow";
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	background-color:#070707;
	color:#f7f4f1;
}
h2 {
	font-size: 30px;
	line-height: 42px;
/*	color:#000000; - закомментила, потому что у блока должен быть белый фон, а пока всему body задан черный
*/}
h3 {
	font-size: 24px;
	line-height: 30px;
}